* {
  margin: 0px;
  padding: 0px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 80vh;
}

.form-bg {
  background: linear-gradient(
    150deg,
    #f2b8f9 50px,
    #d1d1d1 34%,
    #b0e0e4 66%,
    #9b7d6f 100%
  );
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 30px 20px 50px;
  height: 100vh;
}

.form-container .title {
  color: #191616;
  font-size: 23px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 60px;
}

.form-container .form-horizontal {
  background-color: rgba(217, 217, 217, 0.5);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(82.93px);

}

.form-horizontal .form-icon span i {
  color: #3c2d2d;
  font-size: 60px;
  margin: -80px auto 20px;
  border-radius: 0%;
  position: relative;
  bottom: 18px;
  background-color: #e2d4d4;
  border-radius: 100%;
}

.form-horizontal .form-grup {
  margin: 0px 0px 10px;
  position: relative;
}

.form-horizontal .form-grup:nth-child(3) {
  margin-bottom: 30px;
}

.form-horizontal .form-grup .input-icon {
  color: #534f4f;
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 10px;
}

.form-horizontal .form-control {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  padding: 10px 10px 10px 40px;
  margin: 0px 0px 5px;
  border: none;
  background: none;
  border-bottom: 2px solid #e7e7e7;
  border-radius: 0px;
  box-shadow: none;
}

.form-horizontal .form-control:focus {
  box-shadow: none;
  border-bottom-color: #ec5f20;
  background: none;
}

.form-horizontal .form-control::placeholder {
  color: #5c5858;
  font-size: 16px;
  font-weight: 600;
}

/* .form-horizontal .submit {
  color: #fff;
  background-color: #a19adb;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  border-radius: 10px;
  border: none;
} */

.form-horizontal .submit:hover {
  color: #cfcdcd;
  background-color: #434f50;
}
